body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    background-image: url(img/siniy3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    color: #071C71;
}

a:hover {
    color: #0969A2;
}

.container {
    max-width: 1440px;
    margin: 0px auto;
}

.margin-container {
    margin: 40px auto;
}

/* header */

.nav {
    background-color: rgba(244, 244, 244, 0.62);
}

.nav-list {
    width: 1440px;
    height: 70px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 25px;
}

.nav-item {
display: inline;
font-size: 30px;
}

.nav-link {
    transition: 3s;
}

/* main */

/* profile */

.background-section {
    background-color: rgba(244, 244, 244, 0.62);
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    list-style: none;
    font-size: 30px;
    color: #071C71;
}

.profile {
    width: 1440px;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.profile-photo {
    width: 414px;
    height: 337px;
    filter: grayscale(0.6) brightness(93%) contrast(1);
}

h1 {
    font-size: 60px;
    color: #071C71;
    margin: 0px 0px 15px;
}

h2 {
    margin: 0;
    font-size: 50px;
    color: rgba(58, 76, 134, 1.3);
}

/* contact-information */

.contact-information {
    width: 1440px;
    height: 450px;
    display: flex;
    flex-direction: column;
}

h3 {
    margin-left: 40px;
    font-size: 40px;
    color: #071C71;
}

.contact-information-list {
    height: 250px;
}


/* about-myself */

.about-myself {
    width: 1440px;
    height: 450px;
    display: flex;
    flex-direction: column;
}

.about-myself-text {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #071C71;
    font-size: 30px;
    margin-left: 40px;
}